# Mac
/src/compiled/*.js
/www/js/all.js
/www/js/load.js
/www/vendor/*.js
/www/vendor/*.css
/www/vendor/*/*


.DS_Store

# PyCharm
.idea

# Node
npm-debug.log
node_modules

# iOS
platforms/ios/build/
platforms/ios/www/
platforms/ios/cordova/console.log
*.xcuserdatad
*.xcworkspace

# android
platforms/android/.gradle
platforms/android/gradle
platforms/android/gradlew
platforms/android/gradlew.bat
platforms/android/**/build
platforms/android/build.xml
platforms/android/assets/www
platforms/android/bin
platforms/android/gen
platforms/android/local.properties
platforms/android/ant-build
platforms/android/ant-gen
platforms/android/CordovaLib/ant-build
platforms/android/CordovaLib/ant-gen
platforms/android/CordovaLib/bin
platforms/android/CordovaLib/gen
platforms/android/CordovaLib/local.properties

platforms/browser

/info.txt
bower_components

