<widget android-versionCode="10010" id="jp.calil.sabatomap" version="1.5.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Sabae Library Map</name>
    <description>さばとマップ</description>
    <author email="contact@calil.jp" href="http://calil.jp">CALIL Inc.</author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="default" />
    <preference name="webviewbounce" value="false" />
    <platform name="android">
        <allow-intent href="http://*/*" />
        <allow-intent href="https://*/*" />
        <preference name="SplashScreen" value="splash" />
        <icon density="mdpi" src="www/res/icons/android/icon-48-mdpi.png" />
        <icon density="hdpi" src="www/res/icons/android/icon-72-hdpi.png" />
        <icon density="xhdpi" src="www/res/icons/android/icon-96-xhdpi.png" />
        <icon density="xxhdpi" src="www/res/icons/android/icon-144-xxhdpi.png" />
        <icon density="xxxhdpi" src="www/res/icons/android/icon-192-xxxhdpi.png" />
        <preference name="BackgroundColor" value="0xFF0068B1" />
    </platform>
    <platform name="ios">
        <preference name="FadeSplashScreen" value="true" />
        <preference name="ShowSplashScreenSpinner" value="false" />
        <preference name="AutoHideSplashScreen" value="false" />
        <preference name="Orientation" value="all" />
        <preference name="SplashScreenDelay" value="3000" />
    </platform>
    <platform name="windows">
        <preference name="windows-target-version" value="10.0" />
        <preference name="WindowsDefaultUriPrefix" value="ms-appx://" />
    </platform>
    <platform name="browser">
        <preference name="SplashScreen" value="img/splash_for_browser.png" />
        <preference name="SplashScreenDelay" value="3000" />
        <preference name="SplashScreenBackgroundColor" value="#0068B1" />
        <preference name="ShowSplashScreen" value="true" />
        <preference name="SplashScreenWidth" value="428" />
        <preference name="SplashScreenHeight" value="154" />
    </platform>
    <preference name="xwalkVersion" value="15+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="true" />
</widget>
