<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="20001" id="jp.calil.sabatomap" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Sabae Library Map</name>
    <description>さばとマップ</description>
    <author email="contact@calil.jp" href="http://calil.jp">CALIL Inc.</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="default" />
    <preference name="webviewbounce" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashScreenDelay" value="7000" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="SplashScreen" value="splash" />
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="SplashShowOnlyFirstTime" value="true" />
        <icon density="mdpi" src="www/res/icons/android/icon-48-mdpi.png" />
        <icon density="hdpi" src="www/res/icons/android/icon-72-hdpi.png" />
        <icon density="xhdpi" src="www/res/icons/android/icon-96-xhdpi.png" />
        <icon density="xxhdpi" src="www/res/icons/android/icon-144-xxhdpi.png" />
        <icon density="xxxhdpi" src="www/res/icons/android/icon-192-xxxhdpi.png" />
        <preference name="BackgroundColor" value="0xFF0068B1" />
    </platform>
    <platform name="ios">
        <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
            <string>館内マップの表示に位置情報を使います。位置情報へのアクセスを許可してください。</string>
        </edit-config>
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="FadeSplashScreen" value="true" />
        <preference name="ShowSplashScreenSpinner" value="false" />
        <preference name="AutoHideSplashScreen" value="false" />
        <preference name="Orientation" value="all" />
        <icon height="57" platform="ios" src="www/res/icons/ios/icon.png" width="57" />
        <icon height="114" platform="ios" src="www/res/icons/ios/icon@2x.png" width="114" />
        <icon height="40" platform="ios" src="www/res/icons/ios/icon-40.png" width="40" />
        <icon height="80" platform="ios" src="www/res/icons/ios/icon-40@2x.png" width="80" />
        <icon height="50" platform="ios" src="www/res/icons/ios/icon-50.png" width="50" />
        <icon height="100" platform="ios" src="www/res/icons/ios/icon-50@2x.png" width="100" />
        <icon height="60" platform="ios" src="www/res/icons/ios/icon-60.png" width="60" />
        <icon height="120" platform="ios" src="www/res/icons/ios/icon-60@2x.png" width="120" />
        <icon height="180" platform="ios" src="www/res/icons/ios/icon-60@3x.png" width="180" />
        <icon height="72" platform="ios" src="www/res/icons/ios/icon-72.png" width="72" />
        <icon height="144" platform="ios" src="www/res/icons/ios/icon-72@2x.png" width="144" />
        <icon height="76" platform="ios" src="www/res/icons/ios/icon-76.png" width="76" />
        <icon height="152" platform="ios" src="www/res/icons/ios/icon-76@2x.png" width="152" />
        <icon height="29" platform="ios" src="www/res/icons/ios/icon-small.png" width="29" />
        <icon height="58" platform="ios" src="www/res/icons/ios/icon-small@2x.png" width="58" />
        <icon height="87" platform="ios" src="www/res/icons/ios/icon-small@3x.png" width="87" />
        <icon height="1024" platform="ios" src="www/res/icons/ios/icon-1024.png" width="1024" />
        <splash height="1136" platform="ios" src="www/res/screens/ios/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" platform="ios" src="www/res/screens/ios/Default-667h.png" width="750" />
        <splash height="2208" platform="ios" src="www/res/screens/ios/Default-736h.png" width="1242" />
        <splash height="1242" platform="ios" src="www/res/screens/ios/Default-Landscape-736h.png" width="2208" />
        <splash height="1536" platform="ios" src="www/res/screens/ios/Default-Landscape@2x~ipad.png" width="2048" />
        <splash height="768" platform="ios" src="www/res/screens/ios/Default-Landscape~ipad.png" width="1024" />
        <splash height="2048" platform="ios" src="www/res/screens/ios/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="1024" platform="ios" src="www/res/screens/ios/Default-Portrait~ipad.png" width="768" />
        <splash height="960" platform="ios" src="www/res/screens/ios/Default@2x~iphone.png" width="640" />
        <splash height="480" platform="ios" src="www/res/screens/ios/Default~iphone.png" width="320" />
    </platform>
    <platform name="windows">
        <preference name="windows-target-version" value="10.0" />
        <preference name="WindowsDefaultUriPrefix" value="ms-appx://" />
    </platform>
    <platform name="browser">
        <preference name="SplashScreen" value="img/splash_for_browser.png" />
        <preference name="SplashScreenDelay" value="3000" />
        <preference name="SplashScreenBackgroundColor" value="#0068B1" />
        <preference name="ShowSplashScreen" value="true" />
        <preference name="SplashScreenWidth" value="428" />
        <preference name="SplashScreenHeight" value="154" />
    </platform>
    <engine name="browser" spec="^5.0.4" />
    <engine name="ios" spec="^4.5.5" />
    <engine name="android" spec="^6.3.0" />
    <plugin name="cordova-plugin-bluetooth-status" spec="~1.0.4" />
    <plugin name="cordova-plugin-device" spec="^1.1.6" />
    <plugin name="cordova-plugin-wkwebview-engine" spec="^1.1.4" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-device-orientation" spec="^2.0.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="^2.0.2" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="com.unarin.cordova.beacon" spec="^3.7.0" />
</widget>
