
#position-mode {
    -webkit-user-select: none;
    user-select: none;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.80) no-repeat center;
    pointer-events: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 13px;
    box-sizing: content-box;
    padding: 10px;
    opacity: 0.5;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
}

.position-mode-normal {
    background-size: 32px !important;
    background-image: url(../img/target.svg) !important;
    background-color: rgba(255, 255, 255, 0.96) !important;
}

.position-mode-center {
    background-size: 32px !important;
    background-image: url(../img/target-white.svg) !important;
    background-color: rgba(56, 149, 255, 0.85) !important;
}

.position-mode-heading {
    background-size: 32px !important;
    background-image: url(../img/navigation.svg) !important;
    background-color: rgba(56, 149, 255, 0.85) !important;
}

.position-mode-wait {
    background-size: 32px !important;
    background-image: url(../img/spinner.svg) !important;
    background-color: rgba(255, 255, 255, 0.96) !important;
}

.notification {
    display: none;
    position: absolute;
    padding: 10px 10px;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    color: #6B6B6B;
    font-size: 14px;
    font-family: sans-serif;
}

@media (max-width: 374px) {
    .notification {
        bottom: 90px;
        right: 10px;
    }
}

@media (min-width: 375px) {
    .notification {
        bottom: 30px;
        right: 88px;
    }
}

.offline {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 20px 10px 2px;
    background: #D9EDF7;
    color: #317095;
}

@media screen and (orientation: landscape) {
    .offline {
        width: 100%;
    }
}