.notification {
    display: none;
    position: absolute;
    padding: 10px 10px;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    color: #6B6B6B;
    font-size: 14px;
    font-family: sans-serif;
}

@media (max-width: 374px) {
    .notification {
        bottom: 90px;
        right: 10px;
    }
}

@media (min-width: 375px) {
    .notification {
        bottom: 30px;
        right: 88px;
    }
}

.offline {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 20px 10px 2px;
    background: #D9EDF7;
    color: #317095;
}

@media screen and (orientation: landscape) {
    .offline {
        width: 100%;
    }
}