.searchBox {
  position: absolute;
  bottom:0;
  width: calc(100% - 20px);
  z-index: 1000000;
  background-color: #ffffff;
  padding: 10px 10px;
  border-top: 1px solid #CCCCCC;
}
.searchBox input {
  color: #727171;
  font-family: sans-serif;
  font-size:100%;
  width: 100%;
  height: 30px;
  padding: 5px 0px;
  border: 0;
  outline: none;
  -webkit-user-select:text
}
.searchBox input::-webkit-search-cancel-button{-webkit-appearance:none;}
.searchBox input:-webkit-input-placeholder {
  color: #86939B;
}
.searchBtn {
  cursor: pointer;
  color: #999999;
  font-size: 120%;
  position: absolute;
  bottom: 7px;
  right:  7px;
  padding: 10px;
}
.searchResult {
  display: none;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1000001;
}
.searchDiv {
  width: calc(100% - 50px);
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 15px 0;
}
.searchMessage {
  clear: both;
}
.booklist {
}
.booklistTitle {
  float: left;
  color: #727171;
  font-family: sans-serif;
  font-size: 150%;
  font-weight: 100;
  margin: 10px 0;
}
.booklistClose {
  cursor: pointer;
  float: right;
  color: #CCCCCC;
  font-size: 250%;
  font-weight: 100;
  line-height: 95%;
  padding: 10px;
  position: relative;
  top: -10px;
  right: -10px;
}
.book {
  clear: both;
  font-family: sans-serif;
  border-bottom:1px dotted #888;
  padding-bottom:10px;
  margin-bottom:10px;
}
.book .thumbnail {
  float: left;
  height: 100px;
  max-width: 74px;
  margin-right: 10px;
  border: 1px solid #CCCCCC;
}
.book a {
  color: #000000;
}
.bookStatus {
  display: block;
  color: #999999;
  font-size: 85%;
  margin-top: 5px;
}

/* 所蔵場所の表示 */

.stock{
    right: 15px;
    width: 100%;
    text-align: right;
}
.place{
    font-weight:bold;
}
.stockbox{
    font-size: 80%;
    border: 2px solid #555;
    border-radius: 10px;
    padding: 10px;
    background-color: #C5E4FF;
    text-align: center;
    margin-left: 10px;
    width: 110px;
    height: 70px;
    display: inline-block;
}
.no{
    margin-top:5px;
    font-size:90%;
    margin-bottom:5px;
}
.open{
    font-size:90%;
    margin-top:10px;
}
.reserve{
    border: 2px solid #BFBFBF;
    border-radius: 10px;
    padding: 4px;
    background-color: #EFEFEF;
    text-align: center;
    margin-left: 10px;
    width: 120px;
    color: #848484;
    display: inline-block;
    font-size: 12px;
}
.rental{
    border: 2px solid #BFBFBF;
    border-radius: 10px;
    padding: 4px;
    background-color: #FFF5AC;
    text-align: center;
    margin-left: 10px;
    width: 120px;
    color: #848484;
    display: inline-block;
    font-size: 12px;
}
.leftblock{
}
