@charset "UTF-8";
html, body, #map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  overflow: hidden;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif; }

body {
  background-color: #0068B1; }

#map {
  background-color: #eeeeee; }

input[type=search] {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }
  input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none; }

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes waiting {
  0%, 40%, 100% {
    background-size: 32px; }
  20% {
    background-size: 40px; } }

@keyframes waiting {
  0%, 40%, 100% {
    background-size: 32px; }
  20% {
    background-size: 40px; } }

#searchBox {
  height: 100%;
  width: 100%;
  overflow: hidden; }
  #searchBox .box {
    overflow: hidden;
    position: absolute;
    top: 2px;
    left: 0;
    right: 0;
    padding: 14px;
    z-index: 1000000; }
    .ios #searchBox .box {
      top: 22px; }
    #searchBox .box input {
      color: #727171;
      font-family: sans-serif;
      font-size: 100%;
      width: 100%;
      padding: 15px;
      border: 2px solid #D4D4D4;
      outline: none;
      -webkit-user-select: text;
      -webkit-transition: border 0.9s;
      transition: border 0.9s;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
      border-radius: 4px; }
      #searchBox .box input::-webkit-search-cancel-button {
        -webkit-appearance: none; }
      #searchBox .box input::-webkit-input-placeholder {
        -webkit-transition: opacity 0.4s;
        transition: opacity 0.4s; }
      #searchBox .box input:focus {
        border: 2px solid rgba(56, 149, 255, 0.85); }
        #searchBox .box input:focus::-webkit-input-placeholder {
          opacity: 0; }
        #searchBox .box input:focus ~ button {
          color: rgba(56, 149, 255, 0.85); }
        #searchBox .box input:focus ~ .clear:after {
          border-left: 1px solid rgba(56, 149, 255, 0.4); }
    #searchBox .box button {
      position: absolute;
      cursor: pointer;
      color: #999999;
      margin: auto;
      height: auto;
      padding-left: 0;
      padding-right: 0;
      font-size: 20px;
      width: 45px;
      bottom: 14px;
      top: 14px;
      right: 16px;
      border: none;
      background: none;
      -webkit-transition: color 0.4s, right 0.4s, opacity 0.6s;
      transition: color 0.4s, right 0.4s, opacity 0.6s; }
      #searchBox .box button:hover {
        color: rgba(56, 149, 255, 0.85); }
      #searchBox .box button.clear:after {
        border-left: 1px solid #DADADA;
        content: '';
        position: absolute;
        left: 0;
        top: 15px;
        bottom: 15px;
        width: 0;
        -webkit-transition: border-left-color 0.4s;
        transition: border-left-color 0.4s; }
      #searchBox .box button.search {
        right: 63px; }
  #searchBox .results {
    -webkit-overflow-scrolling: touch;
    -webkit-uuser-select: none;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 90000;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 70px 20px 20px;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s; }
    #searchBox .results:before {
      content: '';
      position: fixed;
      top: 0;
      height: 120px;
      left: 0;
      right: 16px;
      pointer-events: none;
      background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
      background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%); }
    #searchBox .results::-webkit-scrollbar {
      background-color: #fff;
      width: 10px; }
    #searchBox .results::-webkit-scrollbar-track {
      background: none; }
    #searchBox .results::-webkit-scrollbar-thumb {
      background-color: #ddd; }
    #searchBox .results .books {
      padding-top: 20px; }
    .ios #searchBox .results {
      padding-top: 100px; }
  #searchBox .empty .results {
    opacity: 0;
    pointer-events: none; }
  #searchBox .empty .clear {
    user-focus: none;
    right: -31px !important;
    opacity: 0;
    visibility: hidden; }
  #searchBox .empty .search {
    right: 16px !important; }
  #searchBox .loading:before {
    content: '読み込み中';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -10px;
    margin-left: -10px; }
  #searchBox .loading:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-top-color: rgba(0, 0, 0, 0.6);
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite; }
  #searchBox .book {
    font-size: 14px;
    line-height: 1.2em;
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 10px;
    margin-bottom: 16px;
    min-height: 120px; }
    #searchBox .book .thumbnail {
      float: left;
      height: 100px;
      max-width: 74px;
      margin-right: 10px;
      border: 1px solid #CCCCCC; }
    #searchBox .book a {
      color: #000000;
      text-decoration: none; }
  #searchBox .stock {
    right: 15px;
    width: 100%;
    text-align: right;
    font-size: 20px; }
  #searchBox .stockbox {
    font-size: 80%;
    border: 2px solid #555;
    border-radius: 10px;
    padding: 10px;
    background-color: #C5E4FF;
    text-align: center;
    margin-left: 10px;
    width: 110px;
    height: 70px;
    display: inline-block; }
  #searchBox .reserve {
    border: 2px solid #BFBFBF;
    border-radius: 10px;
    padding: 4px;
    background-color: #EFEFEF;
    text-align: center;
    margin-left: 10px;
    width: 120px;
    color: #848484;
    display: inline-block;
    font-size: 12px; }
  #searchBox .rental {
    border: 2px solid #BFBFBF;
    border-radius: 10px;
    padding: 4px;
    background-color: #FFF5AC;
    text-align: center;
    margin-left: 10px;
    width: 120px;
    color: #848484;
    display: inline-block;
    font-size: 12px; }

#floors {
  position: absolute;
  bottom: 16px;
  left: 14px;
  border-radius: 2px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25); }
  #floors > div {
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    height: 45px;
    width: 45px; }
    #floors > div label {
      line-height: 48px;
      text-align: center;
      font-size: 18px;
      font-family: Helvetica, Arial, serif;
      display: block;
      -webkit-user-select: none;
      height: 45px;
      width: 45px;
      background-color: #fff;
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s; }
    #floors > div:first-child label {
      border-radius: 2px 2px 0 0; }
    #floors > div:last-child label {
      border-radius: 0 0 2px 2px; }
    #floors > div:only-child label {
      display: none !important; }
    #floors > div input {
      display: none; }
      #floors > div input:checked + label {
        background-color: rgba(56, 149, 255, 0.9) !important;
        font-weight: bold;
        color: #fff; }

#compass {
  height: 40px;
  width: 40px;
  padding: 10px;
  box-sizing: content-box;
  right: 2px;
  top: 70px;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  position: absolute;
  border-radius: 50%;
  background: url(../img/compass.svg) no-repeat center;
  background-size: 30px;
  -webkit-transition: opacity .25s linear, visibility 0.25s linear .25s;
  transition: opacity .25s linear, visibility 0.25s linear .25s; }
  #compass.ol-hidden {
    opacity: 0;
    pointer-events: none; }
  .ios #compass {
    top: 80px; }

#locator > button {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  user-focus: none;
  height: 36px;
  width: 36px;
  border: none;
  border-radius: 50%;
  pointer-events: auto;
  right: 0;
  bottom: 0;
  margin: 13px;
  box-sizing: content-box;
  padding: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  background-size: 32px;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s; }
  #locator > button.disabled {
    background: rgba(255, 255, 255, 0.96) url(../img/target.svg) no-repeat center;
    opacity: 0.5; }
  #locator > button.normal {
    background: rgba(255, 255, 255, 0.96) url(../img/target.svg) no-repeat center; }
  #locator > button.centered {
    background: rgba(56, 149, 255, 0.85) url(../img/target-white.svg) no-repeat center; }
  #locator > button.headingup {
    background: rgba(56, 149, 255, 0.85) url(../img/navigation.svg) no-repeat center; }
  #locator > button.waiting {
    background: rgba(255, 255, 255, 0.96) url(../img/target-blue.svg) no-repeat center;
    -webkit-animation: waiting 3.0s infinite ease-in-out;
            animation: waiting 3.0s infinite ease-in-out; }
  #locator > button:focus {
    outline: 0; }

#locator > div {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
  pointer-events: none;
  border: 2px solid #148cf5;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  padding: 5px 10px;
  border-radius: 4px;
  background: white;
  color: #6B6B6B;
  font-size: 14px;
  line-height: 20px; }
  @media (max-width: 374px) {
    #locator > div {
      bottom: 80px;
      right: 12px; }
      #locator > div:after, #locator > div:before {
        top: 100%;
        right: 26px;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none; }
      #locator > div:after {
        border: 4px rgba(255, 255, 255, 0) solid;
        border-top-color: #ffffff;
        margin-right: -4px; }
      #locator > div:before {
        border: 7px rgba(20, 140, 245, 0) solid;
        border-top-color: #148cf5;
        margin-right: -7px; } }
  @media (min-width: 375px) {
    #locator > div {
      bottom: 26px;
      right: 80px; }
      #locator > div:after, #locator > div:before {
        left: 100%;
        top: 50%;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none; }
      #locator > div:after {
        border: 4px rgba(255, 255, 255, 0) solid;
        border-left-color: #ffffff;
        margin-top: -4px; }
      #locator > div:before {
        border: 7px rgba(20, 140, 245, 0) solid;
        border-left-color: #148cf5;
        margin-top: -7px; } }

#locator .visible {
  opacity: 1; }

.offline {
  display: none; }

#offline {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 25px;
  background: #D9EDF7;
  color: #317095;
  z-index: 2000000; }
  @media screen and (orientation: landscape) {
    #offline {
      width: 100%; } }
  .ios #offline {
    padding-top: 45px; }
