input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
}
input[type="search"]:focus {
    outline-offset: -2px;
}
input[type="search"]::-webkit-search-decoration {
    display: none;
}

body {
    margin: 0;
}

.reactSearch {
    height: 100%;
}

.reactSearch .box {
    position: absolute;
    top: 20px;
    left: 16px;
    right: 16px;
    z-index: 1000000;
}

.ios .reactSearch .box {
    top: 40px;
}

.reactSearch .box input {
    color: #727171;
    font-family: sans-serif;
    font-size: 100%;
    width: 100%;
    padding: 12px;
    border: 2px solid #D4D4D4;
    outline: none;
    -webkit-user-select: text;
    transition: border 0.9s;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.reactSearch .box input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.reactSearch .box input::-webkit-input-placeholder {
    transition: opacity 0.4s;
}

.reactSearch .box input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.reactSearch .box input:focus {
    border: 2px solid rgba(56, 149, 255, 0.85);
}
.reactSearch .box input:focus + button {
    color:rgba(56, 149, 255, 0.85);
}
.reactSearch .box button {
    position: absolute;
    cursor: pointer;
    color: #999999;
    margin: auto;
    height: auto;
    font-size: 20px;
    bottom: 0;
    top: 0;
    right: 0;
    padding: 10px 15px 10px 10px;
    border: none;
    background: none;
    transition: color 0.4s;
}
.reactSearch .box button:hover {
    color:rgba(56, 149, 255, 0.85);
}
.results {
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 70px;
    z-index: 1000001;
    left: 16px;
    bottom: 0;
    right: 16px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 10px 20px 20px;
    width: auto;
    height: auto;
    transition: opacity 0.6s;
}

.results.empty {
    opacity: 0;
    pointer-events: none;
}

.ios .results {
    top: 90px;
}

.results .close {
    float: right;
    cursor: pointer;
    color: #CCCCCC;
    font-size: 36px;
    padding: 20px;
    margin-right: -25px;
    margin-top: -20px;
}

.results .books {
    padding-top: 20px;
}

.book {
    font-size: 14px;
    line-height: 1.2em;
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 10px;
    margin-bottom: 16px;
    min-height: 120px;
}

.book .thumbnail {
    float: left;
    height: 100px;
    max-width: 74px;
    margin-right: 10px;
    border: 1px solid #CCCCCC;
}

.book a {
    color: #000000;
    text-decoration: none;
}

.bookStatus {
    display: block;
    color: #999999;
    font-size: 85%;
    margin-top: 5px;
}

/* 所蔵場所の表示 */

.stock {
    right: 15px;
    width: 100%;
    text-align: right;
    font-size: 20px;
}

.place {
    font-weight: bold;
}

.stockbox {
    font-size: 80%;
    border: 2px solid #555;
    border-radius: 10px;
    padding: 10px;
    background-color: #C5E4FF;
    text-align: center;
    margin-left: 10px;
    width: 110px;
    height: 70px;
    display: inline-block;
}

.no {
    margin-top: 5px;
    font-size: 90%;
    margin-bottom: 5px;
}

.open {
    font-size: 90%;
    margin-top: 10px;
}

.reserve {
    border: 2px solid #BFBFBF;
    border-radius: 10px;
    padding: 4px;
    background-color: #EFEFEF;
    text-align: center;
    margin-left: 10px;
    width: 120px;
    color: #848484;
    display: inline-block;
    font-size: 12px;
}

.rental {
    border: 2px solid #BFBFBF;
    border-radius: 10px;
    padding: 4px;
    background-color: #FFF5AC;
    text-align: center;
    margin-left: 10px;
    width: 120px;
    color: #848484;
    display: inline-block;
    font-size: 12px;
}
